* {
    font-family: "Roboto";
}

body {
    margin:0;
    display: flex;
    flex-direction: column;
}

section {
    width:100vw;
    height:100vh;
    box-sizing: border-box;
}

.firstSection, footer, header {
    background-color: #1F2937;
}

header {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    position:absolute;
    z-index:1;
}

.logo {
    color:#F9FAF8;
    font-size:24px;
    padding-left:10%;
}

ul {
    width:50%;
    list-style: none;
    font-size:18px;
    color:#E5E7EB;
    display:flex;
    justify-content: space-around;
    align-items:center;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.awesome {
 font-size: 48px;
 color:#F9FAF8;
 font-weight:900px;
}

.awesomeSub {
    font-size:18px;
    color:#E5E7EB;
    margin-top:-40px;
}

button {
    color:white;
    background-color:#3882F6;
    padding:2px 12px;
    border:none;
    border-radius:3px;
}

.firstSectionB {
    background-color:grey;
    color:white;
    width:33%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondSection {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.randomInfo {
    font-weight:bold;
    font-size: 30px;
    margin-bottom: 30px;
}

.secondSectionAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    border:3px solid #3882F6;
    width:80px;
    height:80px;
    border-radius: 10px;
}

.squareAndText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.sub {
    margin-top: 10px;
    
}

.thirdSection {
    background-color: rgb(216, 215, 215);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

blockquote {
    font-size:36px;
    font-family:light italic;
    color:#1F2937;
}

.author {
    align-self: flex-end;
    margin-top:30px;
    margin-right: 40px;
    font-weight:bold;
}

.fourthSection {
    color:white;
    display: flex;
    flex-direction:column ;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.fourthSectionDiv {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 5px;
    width: 80%;
}

.mainText {
    font-weight: bold;
    margin-bottom: -10px;
}

.fourthSectionDiv button {
    border:1px white solid;
    margin-left:30px;
}

footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items:center;
    align-self: flex-end;
    
}

.yes {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}